#### CSCE 670 :: Information Storage and Retrieval :: Texas A&M University :: Spring 2018


# Homework 3:  Embeddings + Recommenders

### 100 points [5% of your final grade]

### Due: Monday, April 9 by 11:59pm

*Goals of this homework:* There are two main learning objectives: (i) implement and evaluate a pre-cursor to modern word2vec embeddings; and (ii) implement, evaluate, and improve upon traditional collaborative filtering recommenders.

*Submission Instructions:* To submit your homework, rename this notebook as UIN_hw#.ipynb. For example, this homework submission would be: YourUIN_hw3.ipynb. Submit this notebook via ecampus. Your notebook should be completely self-contained, with the results visible in the notebook. 

*Late submission policy:* For this homework, you may use up to three of your late days, meaning that no submissions will be accepted after Thursday, April 12 at 11:59pm.

# Part 1: Word Embeddings (50 points)
For this first part, we're going to implement a word embedding approach that is a bit simpler than word2vec. The key idea is to look at co-occurrences between center words and context words (somewhat like in word2vec) but without any pesky learning of model parameters.

If you're interested in a deeper treatment of comparing count vs. learned embeddings, take a look at: [Donâ€™t count, predict! A systematic comparison of
context-counting vs. context-predicting semantic vectors](
http://www.aclweb.org/anthology/P14-1023)

## Load the Brown Corpus

The dataset for this part is the (in)famous [Brown corpus](https://en.wikipedia.org/wiki/Brown_Corpus) that is a collection of text samples from a wide range of sources, with over one million unique words. Good for us, you can find the Brown corpus in nltk. *Make sure you have already installed nltk with something like: conda install nltk*

In [ ]:
import nltk
import re
from nltk.corpus import brown
from nltk.corpus import stopwords
import numpy as np
from numpy import linalg as LA

In [2]:
# Load the brown corpus and the stopwords
nltk.download('brown')
nltk.download('stopwords')

[nltk_data] Downloading package brown to /home/achadha7/nltk_data...
[nltk_data]   Package brown is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/achadha7/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

Once you have it locally, you can load the dataset into your notebook. You can access the words using brown.words():

In [3]:
brown_words = brown.words()
stop_words = set(stopwords.words('english'))

print("Brown Corpus words:")
print(brown_words)

Brown Corpus words:
[u'The', u'Fulton', u'County', u'Grand', u'Jury', ...]

In [4]:
%store brown_words
%store stop_words

Stored 'brown_words' (ConcatenatedCorpusView)
Stored 'stop_words' (set)

## 1.1 Dataset Pre-processing
OK, now we need to do some basic pre-processing. For this part you should:

* Remove stopwords and punctuation.
* Make everything lowercase.

Then, count how often each word occurs. We will define the 5,000 most  frequent words as your vocabulary (V). We will define the 1,000 most frequent words as our context (C). Include a print statement below to show the top-20 words after pre-processing.

In [1]:
%store -r brown_words
%store -r stop_words

no stored variable brown_words

In [5]:
# Remove stop words and punctuation from brown corpus vocab
# Convert everything to lower case
def preprocess_data(vocab, stop_words):
    brown_tokens = [''.join(re.split('\W+', word.lower())).encode('ascii', 'ignore') for word in vocab if ''.join(re.split('\W+',word.lower())) not in stop_words]
    return brown_tokens

In [6]:
brown_words_cleaned = preprocess_data(brown_words, stop_words)
corpus_length = len(brown_words_cleaned)
print("Brown corpus length: ", corpus_length)

fdist = nltk.FreqDist(brown_words_cleaned)
fdist.pop("")

context = fdist.most_common(1000)
vocabulary = fdist.most_common(5000)

('Brown corpus length: ', 687794)

In [7]:
print("Vocabulary Top 20 words:")
vocabulary[:20]

Vocabulary Top 20 words:

[('one', 3297),
 ('would', 2714),
 ('said', 1961),
 ('new', 1635),
 ('could', 1601),
 ('time', 1598),
 ('two', 1412),
 ('may', 1402),
 ('first', 1361),
 ('like', 1292),
 ('man', 1207),
 ('even', 1170),
 ('made', 1125),
 ('also', 1069),
 ('many', 1030),
 ('must', 1013),
 ('years', 1001),
 ('af', 996),
 ('back', 966),
 ('well', 961)]

In [9]:
print("Context Top 10 words:")
context[:10]

Context Top 10 words:

[('one', 3297),
 ('would', 2714),
 ('said', 1961),
 ('new', 1635),
 ('could', 1601),
 ('time', 1598),
 ('two', 1412),
 ('may', 1402),
 ('first', 1361),
 ('like', 1292)]

## 1.2 Building the Co-occurrence Matrix 

For each word in the vocabulary (w), we want to calculate how often context words from C appear in its surrounding window of size 4 (two words before and two words after).

In other words, we need to define a co-occurrence matrix that has a dimension of |V|x|C| such that each cell (w,c) represents the number of times c occurs in a window around w.

In [10]:
# Creates a word to integer index map for all the elements present in the list
def create_index_map(words):
    mmap = {}
    for w in words:
        mmap[w[0]] = len(mmap)
    return mmap

vocabulary_to_index_map = create_index_map(vocabulary)
context_to_index_map = create_index_map(context)

# Creating a tuple of vocabulary and context index maps
index_map = (vocabulary_to_index_map, context_to_index_map)

### Depending on the definition of *context*, we can take a document, a paragraph or a sentence as context.
For the purpose of this assignment, I am using *entire corpus* for defining context of a word.

### We can use paragraphs for defining context

In [19]:
for word in brown.paras()[0]:
    print(word)

[u'The', u'Fulton', u'County', u'Grand', u'Jury', u'said', u'Friday', u'an', u'investigation', u'of', u"Atlanta's", u'recent', u'primary', u'election', u'produced', u'``', u'no', u'evidence', u"''", u'that', u'any', u'irregularities', u'took', u'place', u'.']

### or we can use sentences for defining context

In [31]:
for word in brown.sents()[0]:
    print(word)

The
Fulton
County
Grand
Jury
said
Friday
an
investigation
of
Atlanta's
recent
primary
election
produced
``
no
evidence
''
that
any
irregularities
took
place
.

In [63]:
# Defines the co-occurence matrix between vocabularyu and context words
def create_co_occurence_matrix(words, index_map, window_size = 2):
    
    matrix = np.ones((len(vocabulary), len(context)))

    vocabulary_to_index_map = index_map[0]
    context_to_index_map = index_map[1]
    corpus_length = len(words)
    
    for i in range(corpus_length):
        word1 = words[i]
        if word1 not in vocabulary_to_index_map:
            continue

        w1_id = vocabulary_to_index_map[word1]
        start_range = i - window_size
        end_range = i + window_size

        for j in range(start_range, end_range + 1):
            if j >= 0 and j < corpus_length:
                word2 = words[j]
                if word2 not in context_to_index_map:
                    continue
                else: 
                    w2_id = context_to_index_map[word2]
                    matrix[w1_id][w2_id] += 1
    return matrix

co_occurence_matrix = create_co_occurence_matrix(brown_words_cleaned, index_map)

## 1.3 Probability Distribution

Using the co-occurrence matrix, we can compute the probability distribution Pr(c|w) of context word c around w as well as the overall probability distribution of each context word c with Pr(c).

In [64]:
# This method returns a matrix where each cell represents Pr(c|w)
# Pr(c|w) = count(c,w)/ count(w)
def create_probablity_distribution_matrix(co_occurence_matrix):
    pmatrix = np.copy(co_occurence_matrix)
    pmatrix = pmatrix/pmatrix.sum(axis = 1)[:, None]
    return pmatrix

# Returns a vector of probablities of context words Pr(c)
def create_probabilities_context_words(co_occurence_matrix):
    context_words_counts = co_occurence_matrix.sum(axis = 0)
    return context_words_counts/context_words_counts.sum()

In [65]:
print("Calculating Pr(c|w) for each c,w combination in co-occurence matrix")
pmatrix = create_probablity_distribution_matrix(co_occurence_matrix)

Calculating Pr(c|w) for each c,w combination in co-occurence matrix

In [66]:
from collections import OrderedDict
print("Calculating Pr(c) for each context word")
print('')
print("Top 10 context words probabilities:")
context_probablities = create_probabilities_context_words(co_occurence_matrix)[:, None]

context_words_prob = OrderedDict(zip([i[0] for i in context[:10]], [i[0] for i in context_probablities[:10]]))
context_words_prob

Calculating Pr(c) for each context word

Top 10 context words probabilities:

OrderedDict([('one', 0.0027895882916831945),
             ('would', 0.0025106811119925956),
             ('said', 0.001648306998986293),
             ('new', 0.0018566265591255674),
             ('could', 0.0018366554277403147),
             ('time', 0.0018039440918506766),
             ('two', 0.0017047770946273524),
             ('may', 0.001714418330468509),
             ('first', 0.0016791245206928468),
             ('like', 0.0015644626801533783)])

## 1.4 Embedding Representation

Now you can represent each vocabulary word as a |C| dimensional vector using this equation:

Vector(w)= max(0, log (Pr(c|w)/Pr(c)))

This is a traditional approach called *pointwise mutual information* that pre-dates word2vec by some time.

In [67]:
# Want to divide each column in the probablities matrix with the context word probablities
# Pr(c|w)/ Pr(c)

ppmi_matrix = np.copy(pmatrix)
ppmi_matrix =  (ppmi_matrix.T / context_probablities).T

zero_matrix = np.zeros((len(vocabulary), len(context)))

ppmi_matrix = np.maximum(zero_matrix, np.log(ppmi_matrix))
ppmi_matrix.shape

(5000, 1000)

In [68]:
%store ppmi_matrix

Stored 'ppmi_matrix' (ndarray)

In [69]:
print(ppmi_matrix)

[[4.85649903 1.00520118 0.4451773  ... 0.         0.         0.        ]
 [1.05780658 4.91522082 1.41405286 ... 0.         0.         0.        ]
 [0.66330886 1.57957902 5.59820389 ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 0.05875109 0.05254632 0.04992557]
 [0.         0.         0.         ... 0.06165948 0.0554547  0.05283396]
 [0.         0.         0.         ... 0.07043574 0.06423097 0.06161022]]

## 1.5 Analysis

So now we have some embeddings for each word. But are they meaningful? For this part, you should:

- First, cluster the vocabulary into 100 clusters using k-means. Look over the words in each cluster, can you see any relation beween words? Discuss your observations.

- Second, for the top-20 most frequent words, find the nearest neighbors using cosine distance (1- cosine similarity). Do the findings make sense? Discuss.

In [70]:
index_vocabulary_map = {v:k for k,v in vocabulary_to_index_map.items()}
index_context_map = {v:k for k, v in context_to_index_map.items()}

### Clusters

In [71]:
%store -r ppmi_matrix
from sklearn.cluster import KMeans
kmean_model = KMeans(n_clusters=100, init='k-means++', max_iter=100)
kmean_model.fit(ppmi_matrix)
%store kmean_model

Stored 'kmean_model' (KMeans)

In [72]:
%store -r kmean_model
order_centroids = kmean_model.cluster_centers_.shape

In [75]:
order_centroids = kmean_model.cluster_centers_.argsort(axis=1)[:, ::-1]

print("Printing 12 elements in every cluster that are nearest to centroid")
for i in range(100):
    print('')
    print("Cluster %d:" % i)
    print("==========")
    for ind in order_centroids[i, :12]:
        print(' %s' % index_vocabulary_map[ind]),
    print('')

Printing 10 elements in every cluster that are nearest to centroid

Cluster 0:
==========
 1960  30  1  year  june  1961  fiscal  1959  march  20  last  4

Cluster 1:
==========
 medical  public  department  national  government  forces  program  services  service  state  support  military

Cluster 2:
==========
 man  young  old  woman  wife  like  told  children  one  age  men  husband

Cluster 3:
==========
 got  ive  never  get  enough  know  done  hes  cold  ever  seen  lot

Cluster 4:
==========
 york  new  city  central  times  state  area  england  members  government  council  system

Cluster 5:
==========
 used  use  means  power  may  water  pressure  given  data  without  also  much

Cluster 6:
==========
 per  cent  million  10  15  20  12  years  100  1  25  average

Cluster 7:
==========
 development  research  program  industrial  new  economic  medical  council  programs  technical  planning  effort

Cluster 8:
==========
 take  place  care  would  let  time  must  ill  away  could  us  may

Cluster 9:
==========
 different  quite  two  ways  things  types  person  kind  used  among  rates  something

Cluster 10:
==========
 provide  county  needs  school  may  state  meet  service  plan  court  children  board

Cluster 11:
==========
 even  though  cannot  fact  yet  taken  matter  may  one  course  however  perhaps

Cluster 12:
==========
 many  must  great  use  certain  fact  upon  may  also  often  important  number

Cluster 13:
==========
 year  last  fiscal  per  tax  ago  first  next  1961  past  every  30

Cluster 14:
==========
 found  find  still  way  may  could  always  one  although  difficult  see  much

Cluster 15:
==========
 mrs  j  mr  john  e  dr  william  c  r  b  james  brown

Cluster 16:
==========
 know  think  dont  didnt  people  would  something  must  youre  much  could  like

Cluster 17:
==========
 af  point  p  line  points  image  c  function  since  two  plane  thus

Cluster 18:
==========
 around  across  house  back  water  west  away  car  street  along  front  south

Cluster 19:
==========
 get  going  sure  thats  enough  dont  think  know  big  right  take  youre

Cluster 20:
==========
 policy  foreign  american  united  aid  states  total  economic  countries  officer  soviet  respect

Cluster 21:
==========
 administration  food  feed  aid  daily  state  federal  program  first  kennedy  use  foreign

Cluster 22:
==========
 go  let  back  far  would  home  want  dont  wanted  could  school  ill

Cluster 23:
==========
 couldnt  get  help  see  remember  understand  even  keep  knew  find  write  stop

Cluster 24:
==========
 fiscal  year  tax  years  close  june  cities  30  states  1959  end  state

Cluster 25:
==========
 remained  day  long  sense  interest  side  four  however  almost  fact  always  american

Cluster 26:
==========
 general  shall  secretary  law  moral  order  act  consider  effects  public  state  case

Cluster 27:
==========
 af  values  surface  number  temperature  single  form  1  information  p  size  used

Cluster 28:
==========
 tax  sales  income  property  year  bill  state  fiscal  due  pay  made  additional

Cluster 29:
==========
 going  im  think  tell  sure  youre  get  back  talking  take  know  still

Cluster 30:
==========
 time  long  period  ago  enough  take  since  short  first  spent  last  come

Cluster 31:
==========
 morning  early  night  next  day  evening  late  home  afternoon  sunday  last  year

Cluster 32:
==========
 door  went  back  room  front  hall  across  walked  open  bed  toward  came

Cluster 33:
==========
 would  could  never  anything  know  say  like  something  else  nothing  knew  didnt

Cluster 34:
==========
 democratic  party  institutions  leaders  committee  county  free  national  faith  among  president  relations

Cluster 35:
==========
 director  district  planning  family  recently  greater  carried  washington  main  state  office  division

Cluster 36:
==========
 state  states  federal  government  new  united  program  general  president  national  department  development

Cluster 37:
==========
 market  stock  price  common  open  place  value  share  american  big  development  general

Cluster 38:
==========
 within  days  system  hour  larger  distance  area  group  years  reach  social  year

Cluster 39:
==========
 step  toward  first  next  took  taken  every  one  go  second  program  forward

Cluster 40:
==========
 would  make  might  made  must  much  little  one  better  work  could  well

Cluster 41:
==========
 college  university  students  student  state  president  school  work  chicago  years  education  major

Cluster 42:
==========
 small  schools  large  many  business  programs  number  area  training  school  major  private

Cluster 43:
==========
 approach  problem  another  price  new  christian  letter  basic  sound  rate  change  question

Cluster 44:
==========
 figure  2  shown  3  1  4  based  indicated  12  lines  taken  point

Cluster 45:
==========
 good  deal  job  bad  man  one  health  thing  reason  look  old  pretty

Cluster 46:
==========
 said  head  toward  took  turned  clay  press  back  came  slowly  started  went

Cluster 47:
==========
 physical  education  law  strength  moral  others  social  plant  temperature  knowledge  needs  true

Cluster 48:
==========
 six  months  ago  years  five  four  two  spent  three  weeks  several  12

Cluster 49:
==========
 one  first  half  place  time  put  another  second  thing  two  piece  day

Cluster 50:
==========
 looked  like  around  saw  back  upon  eyes  face  thought  stopped  straight  see

Cluster 51:
==========
 men  women  young  two  four  group  many  come  like  three  knew  children

Cluster 52:
==========
 school  high  children  board  college  schools  students  system  feet  still  low  local

Cluster 53:
==========
 eyes  white  face  hair  back  red  hands  blue  black  head  room  door

Cluster 54:
==========
 stand  could  must  things  look  make  square  alone  side  end  took  back

Cluster 55:
==========
 life  human  social  world  society  economic  american  community  history  political  present  experience

Cluster 56:
==========
 value  farm  af  great  questions  p  function  market  high  system  products  single

Cluster 57:
==========
 death  life  father  rate  history  christ  cause  passed  natural  thus  another  march

Cluster 58:
==========
 tax  interest  paid  rate  pay  costs  increase  return  amount  due  money  higher

Cluster 59:
==========
 used  also  data  clay  method  methods  word  may  say  words  still  different

Cluster 60:
==========
 get  ill  back  could  trying  dont  away  along  going  didnt  able  couldnt

Cluster 61:
==========
 island  rhode  state  miss  week  university  interested  long  hospital  property  brown  based

Cluster 62:
==========
 around  looked  world  look  corner  turned  walked  go  turn  car  back  walk

Cluster 63:
==========
 board  members  committee  member  association  national  meeting  club  university  council  student  country

Cluster 64:
==========
 united  states  europe  nations  america  western  among  world  countries  throughout  southern  parts

Cluster 65:
==========
 dead  living  man  book  shot  hes  mans  three  center  body  mr  let

Cluster 66:
==========
 union  soviet  states  power  members  western  communist  leaders  series  state  meeting  policy

Cluster 67:
==========
 available  information  best  data  made  evidence  use  funds  public  also  make  materials

Cluster 68:
==========
 wanted  go  know  mother  get  way  see  give  part  money  take  ever

Cluster 69:
==========
 asked  question  questions  whether  congress  help  one  board  could  anything  see  anyone

Cluster 70:
==========
 possible  make  best  makes  soon  made  much  far  many  also  would  making

Cluster 71:
==========
 came  back  voice  home  moment  day  end  time  first  around  sat  later

Cluster 72:
==========
 years  ago  two  ten  three  several  hundred  five  four  many  long  six

Cluster 73:
==========
 help  couldnt  needed  could  would  us  people  cant  pay  little  cannot  god

Cluster 74:
==========
 apparently  decided  simple  feeling  mr  words  experience  although  least  end  mrs  left

Cluster 75:
==========
 local  board  state  government  school  church  national  become  level  law  business  training

Cluster 76:
==========
 god  son  mother  christ  love  told  born  faith  father  story  wrote  letter

Cluster 77:
==========
 3  6  4  5  7  8  shown  1  figures  2  figure  per

Cluster 78:
==========
 want  know  dont  didnt  see  get  go  think  care  tell  much  like

Cluster 79:
==========
 federal  state  court  law  district  government  states  tax  funds  cases  board  decision

Cluster 80:
==========
 important  thing  perhaps  things  one  certain  role  less  two  difference  part  another

Cluster 81:
==========
 according  principle  standard  theory  dr  system  cars  strength  medical  report  surface  plan

Cluster 82:
==========
 years  hundred  three  minutes  thousand  five  days  ten  feet  ago  four  two

Cluster 83:
==========
 education  higher  public  health  physical  programs  program  schools  board  state  defense  national

Cluster 84:
==========
 back  left  right  side  along  away  around  across  car  road  wall  street

Cluster 85:
==========
 poet  de  oh  cattle  james  style  playing  caught  glass  heat  charles  thomas

Cluster 86:
==========
 labor  secretary  areas  department  relations  supply  costs  union  family  division  movement  issue

Cluster 87:
==========
 division  planning  industrial  research  products  steps  labor  continue  activities  army  central  first

Cluster 88:
==========
 increased  production  costs  number  volume  population  pressure  per  demand  rates  activity  cause

Cluster 89:
==========
 last  night  week  day  one  next  every  first  year  month  days  per

Cluster 90:
==========
 eyes  closed  blue  opened  dark  saw  met  looked  open  black  clear  keep

Cluster 91:
==========
 company  light  power  union  even  national  officers  east  policy  name  began  john

Cluster 92:
==========
 1  2  war  table  world  figure  class  3  volume  shown  type  st

Cluster 93:
==========
 social  economic  political  system  institutions  life  development  science  military  level  problems  aid

Cluster 94:
==========
 great  peace  third  gave  corps  time  us  would  world  life  may  opportunity

Cluster 95:
==========
 world  war  2  1  since  cold  peace  nuclear  end  free  throughout  second

Cluster 96:
==========
 makes  difference  possible  little  man  feel  clear  effort  necessary  real  one  god

Cluster 97:
==========
 could  man  got  never  would  like  get  little  much  people  thought  said

Cluster 98:
==========
 studies  growth  research  brown  data  recent  basis  show  clay  indicated  made  continue

Cluster 99:
==========
 form  forms  information  list  word  af  required  basic  complete  reading  order  available

### Do you see any relation between the words in a cluster?
Definitely! Yes.
Words in each cluster are very similar to each other. Let's look into few of the examples.
1. **_Cluster 0_**:
Years (1960, 1959), months(june, march), and dates(30, 4, 20) are clustered together, which in fact almost always occur together.
2. **_Cluster 1_**:
Words like national, government, program, department, state, service, often occur together while talking about political topics
3. **_Cluster 2_**:
Man woman, wife, husband, young, old, are the words which often occur together.
4. **_Cluster 7_**:
Development, researcg, economic, technical, planning are again words which often occur together in economy context.

We can find similar patterns throughout the clusters found in the above approach.

### K-Means code reference - 
https://pythonprogramminglanguage.com/kmeans-text-clustering/

### Nearest Neighbours for top-20 most frequent words:

In [76]:
from sklearn.neighbors import NearestNeighbors

neighbours_model = NearestNeighbors(n_neighbors=7, metric = 'cosine')
neighbours_model.fit(ppmi_matrix)
%store neighbours_model

Stored 'neighbours_model' (NearestNeighbors)

In [93]:
%store -r neighbours_model

top_10_nn = neighbours_model.kneighbors(ppmi_matrix[:20,], n_neighbors=7)
top_10_nn_indices = top_10_nn[1]

for i in range(20):
    print("")
    print('{0} {1}'.format(str(i+1), index_vocabulary_map[i]))
    print("===========")
    for j in top_10_nn_indices[i, :]:
        print(index_vocabulary_map[j]),
    print("")

1 one
===========
one another thing day least man good

2 would
===========
would never like say could things let

3 said
===========
said mr skyros hal borden arlene mitchell

4 new
===========
new york yankees city orleans jersey central

5 could
===========
could see never hear would anything way

6 time
===========
time long first period short place spent

7 two
===========
two three ago hundred years weeks four

8 may
===========
may also desirable seem find well might

9 first
===========
first time second last two place day

10 like
===========
like look know felt think would didnt

11 man
===========
man woman old young fat one big

12 even
===========
even though seem perhaps might much know

13 made
===========
made payments payment make mistake clear feel

14 also
===========
also may used must statement readily made

15 many
===========
many people things among times great others

16 must
===========
must therefore able learn plan take something

17 years
===========
years ago months hundred five days ten

18 af
===========
af q zg polynomial function operator tangent

19 back
===========
back went around go home turned come

20 well
===========
well might suited get think known may

### Do the findings make sense?
Out of the top 20 common words nearest neighbours, most of the nearest neighbours do make sense.
1. Months, days, ago are nearest neighbours of **years**, representing time of the year.
2. Payments, Payment, make are closer to **made** as we often use these the phrase "make/made payment/payments".
3. Woman, old, young are closer to **man** as we often use phrases like "young man", "man-woman", "old woman".
4. second, last, two are closer to **first** representing numbers/ positions.

There are some clusters which don't make sense **immediately**.

**af -  q zg polynomial function operator tangent**

### However,
on closer look, we often see mathemetical functions like 
a(f), q, z(g) used in equations along with words like polynomial, tangent operator.
### Hence, even this group make perfect sense.

# Part 2. Collaborative Filtering (50 points)

In this second part, you will implement collaborative filtering on the Netflix prize dataset -- donâ€™t freak out, the provided sample dataset has only ~2000 items and ~28,000 users.

As background, read the paper [Empirical Analysis of Predictive Algorithms for Collaborative Filtering](https://arxiv.org/pdf/1301.7363.pdf) up to Section 2.1. Of course you can read further if you are interested, and you can also refer to the course slides for collaborative filtering.

## 2.1 Load Netflix Data

The dataset is subset of movie ratings data from the Netflix Prize Challenge. Download the dataset from Piazza. It contains a train set, test set, movie file, and README file. The last two files are original ones from the Netflix Prize, however; in this homework you will deal with train and test files which both are subsets of the Netflix training data. Each of train and test files has lines having this format: MovieID,UserID,Rating.

Your job is to predict a rating in the test set using those provided in the training set.

In [4]:
import pandas as pd
from scipy.stats.stats import pearsonr

In [5]:
# Load the data
headers=['MovieID', 'UserID', 'Rating']
train_data = pd.read_csv('netflix-dataset/TrainingRatings.txt', names = headers)
test_data = pd.read_csv('netflix-dataset/TestingRatings.txt', names = headers)

In [6]:
# Print out the number of ratings in training data
print("Training data Analysis:")
print("")
number_of_ratings = len(train_data)
print("Number of ratings in training data: ", number_of_ratings)

# Create a user-movie matrix from the input training examples
ratings_df = train_data.pivot(index='UserID', columns='MovieID', values='Rating')

print("")
print("Dimensions of user-movie matrix: ", ratings_df.shape)
print("Number of unique users ", ratings_df.shape[0])
print("Number of unique movies ", ratings_df.shape[1])
ratings_df.head(10)

Training data Analysis:

('Number of ratings in training data: ', 3255352)

('Dimensions of user-movie matrix: ', (28978, 1821))
('Number of unique users ', 28978)
('Number of unique movies ', 1821)

MovieID,8,28,43,48,61,64,66,92,96,111,...,17654,17660,17689,17693,17706,17725,17728,17734,17741,17742
UserID,,,,,,,,,,,,,,,,,,,,,
7,5.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
769,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1310,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1333,3.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,2.0,NaN,3.0,NaN,NaN,NaN,NaN
1427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1442,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Print out the number of ratings in training data
print("Testing data Analysis:")
print("")
number_of_ratings_test = len(test_data)
print("Number of ratings in training data: ",number_of_ratings_test)

# Create a user-movie matrix from the input training examples
test_ratings_df = test_data.pivot(index='UserID', columns='MovieID', values='Rating')

print("")
print("Dimensions of user-movie matrix: ", test_ratings_df.shape)
print("Number of unique users ", test_ratings_df.shape[0])
print("Number of unique movies ", test_ratings_df.shape[1])

Testing data Analysis:

('Number of ratings in training data: ', 100478)

('Dimensions of user-movie matrix: ', (27555, 1701))
('Number of unique users ', 27555)
('Number of unique movies ', 1701)

## 2.2 Implement CF

In this part, you will implement the basic collaborative filtering algorithm described in Section 2.1 of the paper -- that is, focus only on Equations 1 and 2 (where Equation 2 is just the Pearson correlation). You should consider the first 5,000 users with their associated items in the test set. 

Note that you should test the algorithm for a small set of users e.g., 10 users first and then run for 5,000 users. It may take long to run but you won't have memory issues. 

Set k to 0.1.

In [9]:
# Gives the mean value of ratings for every user
mean_user_ratings = ratings_df.mean(axis=1, skipna=True)

print("Filling NA with 0 values")
ratings_df.fillna(0).head(10)

Filling NA with 0 values

MovieID,8,28,43,48,61,64,66,92,96,111,...,17654,17660,17689,17693,17706,17725,17728,17734,17741,17742
UserID,,,,,,,,,,,,,,,,,,,,,
7,5.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
199,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
769,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
906,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1310,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1333,3.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,2.0,0.0,3.0,0.0,0.0,0.0,0.0
1427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1442,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
correlation = ratings_df.T.corr(method='pearson')

In [9]:
# Given a user, movie pair, this method will return the predicted ratings of the given user
def predict(user, movie, ratings_df, mean_user_ratings, K = 0.001):
    input_user_ratings = ratings_df.loc[user].fillna(0)
        
    # Dataframe of all the users who rated the movie
    users_who_rated_movie_df = ratings_df[~ ratings_df[movie].isnull()].fillna(0)
    #users_who_rated_movie_df = users_who_rated_movie_df.drop(index=user)
    
    # Average rating of the input user (v_a)
    user_avg_rating = mean_user_ratings.loc[user]
    
    # Difference between the movie rating and average rating given by user
    movie_avg_rating_diff = users_who_rated_movie_df[movie] - mean_user_ratings.ix[users_who_rated_movie_df.index]
    correlation = [ pearsonr(a, input_user_ratings)[0] for a in users_who_rated_movie_df.values]
    prediction = user_avg_rating + K * np.sum(correlation * movie_avg_rating_diff)
    return prediction

def predict_test_user(row):
    return predict(row['UserID'], row['MovieID'], ratings_df, mean_user_ratings)

# Testing the above function
print(predict(7, 8, ratings_df, mean_user_ratings))

/scratch/user/achadha7/.conda/envs/py27/lib/python2.7/site-packages/ipykernel_launcher.py:13: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  del sys.path[0]

3.516012623367705

## Predictions for 10 users

In [11]:
# Calculating the predictions for test data set
test_data['predictions'] = test_data.head(100).apply(predict_test_user, axis=1)
print("Getting the predictions for first 100 entries in test data")
test_data.head(10)

   MovieID   UserID  Rating  predictions
0        8   573364     1.0     3.136290
1        8  2149668     3.0     3.118801
2        8  1089184     3.0     2.562902
3        8  2465894     3.0     2.778449
4        8   534508     1.0     2.780150
5        8   992921     4.0     2.887262
6        8   595054     4.0     2.827784
7        8  1298304     4.0     3.827333
8        8  1661600     4.0     3.412832
9        8   553787     2.0     3.000888

## Predictions for 1000 users

In [12]:
# Calculating the predictions for test data set
test_data['predictions'] = test_data.head(1000).apply(predict_test_user, axis=1)
print("Getting the predictions for first 1000 entries in test data")
test_data[990:1000]

Getting the predictions for first 1000 entries in test data

     MovieID   UserID  Rating  predictions
990      156   905964     1.0     3.500318
991      156  2387369     3.0     3.517594
992      156  1941703     3.0     3.481254
993      156   525071     1.0     2.331513
994      156  1824009     4.0     3.497851
995      156  2572409     3.0     3.528752
996      156  2086711     3.0     4.018688
997      156   869468     4.0     2.930133
998      156   942513     5.0     4.026905
999      156   203369     4.0     3.738591

In [15]:
%store test_data

Stored 'test_data' (DataFrame)

In [ ]:
# Calculating the predictions for test data set
test_data['predictions'] = test_data.head(5000).apply(predict_test_user, axis=1)
%store test_data
print("Getting the predictions for first 5000 entries in test data")
print("Printing the last 10 rows")
test_data[4990:5000]

In [17]:
ratings_test_matrix = test_data.pivot(index='UserID', columns='MovieID', values='Rating')
test_data.head(10)

   MovieID   UserID  Rating  predictions
0        8   573364     1.0     3.136290
1        8  2149668     3.0     3.118801
2        8  1089184     3.0     2.562902
3        8  2465894     3.0     2.778449
4        8   534508     1.0     2.780150
5        8   992921     4.0     2.887262
6        8   595054     4.0     2.827784
7        8  1298304     4.0     3.827333
8        8  1661600     4.0     3.412832
9        8   553787     2.0     3.000888

## 2.3 Evaluation 

You should evaluate your predictions using Mean Absolute Error and Root Mean Squared Error.

In [18]:
# Mean Absolute Error
MAE = np.mean(np.abs(test_data['predictions'] - test_data['Rating']))
print("Mean Absolute Error: ", MAE)

('Mean Absolute Error: ', 0.9181966999819647)

In [20]:
# Root Mean Squared Error
RMSE = np.sqrt(np.mean(test_data['predictions'] - test_data['Rating']) **2)
print("Root Mean Squared Error: ", RMSE)

('Root Mean Squared Error: ', 0.10435823995555074)

## 2.4 Extensions

Given your results in the previous part, can you do better? For this last part you should report on your best attempt at improving MAE and RMSE. Provide code, results, plus a brief discussion on your approach.

### Normalising the users ratings
Normalise the user-ratings matrix by subtracting user's mean from every value

In [10]:
ratings_matrix = ratings_df.fillna(0).as_matrix()
normalized_ratings = ratings_matrix - mean_user_ratings.values.reshape(-1,1)

## Approach 1: Latent Factor Models
Using simple SVD approach and using 35 latent factors (k)

In [82]:
from scipy.sparse.linalg import svds
U, Sigma, Vt = svds(normalised_ratings_df, k=35)
Sigma = np.diag(Sigma)
predicted_ratings_np = np.dot(np.dot(U, Sigma), Vt) + mean_user_ratings.values.reshape(-1, 1)
predicted_ratings_df = pd.DataFrame(predicted_ratings_np, columns=normalised_ratings_df.columns, index=normalised_ratings_df.index)

In [83]:
def prediction_ratings(test_row):
    return predicted_ratings_df[test_row['MovieID']].loc[test_row['UserID']]

test_data['predictions'] = test_data.apply(prediction_ratings, axis=1)

# Mean Absolute Error
MAE = np.mean(np.abs(test_data['predictions'] - test_data['Rating']))
print("Mean Absolute Error: ", MAE)
# Root Mean Squared Error
RMSE = np.sqrt(np.mean(test_data['predictions'] - test_data['Rating']) **2)
print("Root Mean Squared Error: ", RMSE)

('Mean Absolute Error: ', 1.9609625311939223)
('Root Mean Squared Error: ', 1.8941864039326723)

## Observations:
Using K =35 with SVD didn't do any improvement on the previous approach using person corelation.
* One reason might be that number of latent factors in this case are very small and on increasing the value of K, RMSE and MAE may reduce.
* Another reason could be that since we are filling the missing values with 0, this is leading to erroneous behaviour in the recommendation system as it will interpret 0 as a poor rating.
Fixing above two points might improve on the pearson correlation approach

## Approach 2: Matrix Factorization along with regularization
Using gradient descent approach to find P and Q factors which can represent user and movie feature matrix without loosing much information.
We are using regularization to prevent overfitting using L2 norm.

### For K = 50, users = 20

In [81]:
def matrix_factorization_regularized(X,P,Q,K,steps,alpha,beta):
    Q = Q.T
    m = X.shape[0]
    for step in xrange(steps):
        #for each user
        for i in xrange(X.shape[0]):
           
            #for each item
            for j in xrange(X.shape[1]):
                if X[i][j] > 0 :

                    #calculate the error of the element
                    eij = X[i][j] - np.dot(P[i,:],Q[:,j])
                    #second norm of P and Q for regularilization
                    sum_of_norms = 0
                    sum_of_norms += LA.norm(P) + LA.norm(Q)
                    #print sum_of_norms
                    eij += ((beta/2) * sum_of_norms)
                    #print eij
                    #compute the gradient from the error
                    for k in xrange(K):
                        P[i][k] = P[i][k] + alpha * ( 2 * eij * Q[k][j] - (beta * P[i][k]))
                        Q[k][j] = Q[k][j] + alpha * (2 * eij * P[i][k] - (beta * Q[k][j]))

        #compute total error
        error = 0
        #for each user
        for i in xrange(X.shape[0]):
            #for each item
            for j in xrange(X.shape[1]):
                if X[i][j] > 0:
                    error += np.power(X[i][j] - np.dot(P[i,:],Q[:,j]),2)
        if error/m < 0.001:
            break
        if step%10==0:
            print("Step {0}: RMSE is {1}".format(step, np.sqrt(error/m)))
        
    return P, Q.T

In [83]:
small_ratings_matrix = ratings_df.head(20).fillna(0).as_matrix()
small_normalized_ratings = small_ratings_matrix - mean_user_ratings.head(20).reshape(-1,1)
users_count = small_ratings_matrix.shape[0]
movies_count = small_ratings_matrix.shape[1]

K = 50

U = np.random.rand(users_count, K)
V = np.random.rand(movies_count, K)
steps = 200
alpha = 0.0005
beta = float(0.02)

U_new, V_new = matrix_factorization_regularized(small_normalized_ratings, U, V, K, steps, alpha, beta)

/scratch/user/achadha7/.conda/envs/py27/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead

Step 0: RMSE is 48.2097336818
Step 10: RMSE is 15.1383623112
Step 20: RMSE is 14.8301863914
Step 30: RMSE is 14.69837685
Step 40: RMSE is 14.6006746974
Step 50: RMSE is 14.525450095
Step 60: RMSE is 14.4661281139
Step 70: RMSE is 14.4183805716
Step 80: RMSE is 14.3792542299
Step 90: RMSE is 14.346677663
Step 100: RMSE is 14.3191636161
Step 110: RMSE is 14.2956225662
Step 120: RMSE is 14.2752422592
Step 130: RMSE is 14.2574077579
Step 140: RMSE is 14.2416471135
Step 150: RMSE is 14.2275936723
Step 160: RMSE is 14.2149594338
Step 170: RMSE is 14.2035159043
Step 180: RMSE is 14.1930801287
Step 190: RMSE is 14.1835043625

In [88]:
K=45
steps = 300
alpha = 0.0002
beta = float(0.02)

U_new, V_new = matrix_factorization_regularized(small_normalized_ratings, U, V, K, steps, alpha, beta)

Step 0: RMSE is 106.402794342
Step 10: RMSE is 22.3487612787
Step 20: RMSE is 15.2308604616
Step 30: RMSE is 14.3145791237
Step 40: RMSE is 14.172106066
Step 50: RMSE is 14.1449634201
Step 60: RMSE is 14.1376727475
Step 70: RMSE is 14.1343197459
Step 80: RMSE is 14.1319518856
Step 90: RMSE is 14.1299599929
Step 100: RMSE is 14.1281947089
Step 110: RMSE is 14.126604399
Step 120: RMSE is 14.1251610341
Step 130: RMSE is 14.1238440824
Step 140: RMSE is 14.1226366535
Step 150: RMSE is 14.1215243517
Step 160: RMSE is 14.1204947728
Step 170: RMSE is 14.1195371839
Step 180: RMSE is 14.1186422769
Step 190: RMSE is 14.1178019643
Step 200: RMSE is 14.117009209
Step 210: RMSE is 14.1162578788
Step 220: RMSE is 14.1155426231
Step 230: RMSE is 14.1148587679
Step 240: RMSE is 14.1142022263
Step 250: RMSE is 14.1135694211
Step 260: RMSE is 14.1129572192
Step 270: RMSE is 14.1123628748
Step 280: RMSE is 14.1117839808
Step 290: RMSE is 14.111218426

## Observations:
Above results are for just for 20 users , with iterations < 300.
Using these paramters we are able to achieve RMSE ~ 14 which is still way more than what we achieved in the simple pearson correlation technique.

If we use this technique for users more than 20, say 1000, and run it for more number of iteratiuons, we may get better RMSE.

## Last Approach - Belkor's Approach
### ENSEMBLE!!

In the last approach, we can merge all the various models we obtained in the previous steps, and give final prediction for the user's ratings

### Resources
https://beckernick.github.io/matrix-factorization-recommender/
http://www.quuxlabs.com/blog/2010/09/matrix-factorization-a-simple-tutorial-and-implementation-in-python/